html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
 padding : 80px;
 font-family: 'Karla', sans-serif;
 font-size : 16px;
}
h2,h4,p {
  margin: 0px;
}

#card{
  width: 600px;
  height : 400px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  overflow: hidden;
  
}
#top{
  width: 100%;
  height : 45%;
  padding:25px;
  
  
}
#bottom{
  width: 100%;
  height : 55%;
  color: white;
  
  
  
}
#left{
  background-color: #2bb3b2;
  display: inline-block;
  width: 50%;
  height : 100%;
  vertical-align: top;
  padding:50px;
  
  
}
#right{
   background-color: #4abebd;
  display: inline-block;
  width: 50%;
  height : 100%;
  vertical-align: top;
  padding:28px;
}
button {
  background-color: #afcc2e;
  color: white;
  padding : 10px;
  width:100%;
  border-radius:5px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
button:hover{
  cursor:pointer;
  background-color: #9db729;
  transform:scale(1.02);
}

#top h2 {
  color:#2bb3b2;
  margin-bottom : 20px;
}
#top h4 {
  color:#c0df34;
  margin-bottom : 10px;
}
#top p {
  color: grey;
  opacity:0.7;
}
#price-container{
  margin-bottom:10px;
  
}

#price,#frequency{
  display: inline-block;
  
}
#frequency{
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  opacity:0.7;
  margin-left:5px;
  
}
#left p{
  margin-bottom:25px;
  font-size:0.8rem;
  opacity:0.9;
}

#left h4{
  margin-bottom:20px;
  margin-top:-20px;
  
}
ul{
  padding:0px;
  list-style:none;
  font-size:0.8rem;
  opacity:0.8;
  margin: 25px 0;
}
@media (max-width:650px){
  #left,#right,#card{
    width:100%;
    height:auto;
  }
}
